body {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    padding: 1%;
    text-align: center;
}

section h1 {
    margin: auto;
    width: 80vw;
    padding: 6px;
    text-align: center;
    text-decoration: underline;
    color: white;
    background-color: red;
    box-shadow: 2px 3px 14px 0px #0000008f;
}

.section-two div {
    background-color: #fff;
    height: 425px;
    width: 313px;
    padding: 1%;
    margin: 20px 20px;
    box-shadow: 2px 3px 14px 0px #0000008f;
    border-radius: 2% 5% 14% 2%;
    display: inline-block;
}

.section-two h2 {
    min-width: 300px;
    max-width: 700px;
    text-decoration: underline;
    padding: 5px;
    margin: auto;
    width: 50vw;
    text-align: center;
    background: #f2e4e4;
    margin-bottom: 8%;
    box-shadow: 2px 3px 14px 0px #0000008f;
}

.section-two div h2 {
    background-color: transparent;
    text-decoration: none;
    box-shadow: none;
    width: 100%;
    min-width: 0;
}

.section-two div button {
    background-color: transparent;
    color: red;
    text-decoration: underline;
    width: 40%;
    border: none;
    cursor: pointer;
}

.section-two div h2 {
    width: 100%;
    margin: 0;
}

section div h2 {
    width: 80%;
}

.section-two div p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4% 0;
}

.section-two {
    background-color: #ededed;
    padding: 2%;
}

img {
    width: 100%;
    border-radius: inherit;
}

.section-three {
    min-height: 70vh;
}

.section-three h2 {
    text-align: center;
    text-decoration: underline;
}

.section-three div {
    background-color: #fff;
    height: 225px;
    width: 313px;
    padding: 1%;
    margin: 20px 20px;
    box-shadow: -2px 4px 9px 2px #0000008f;
    border-radius: 2% 6% 23% 2%;
    text-align: center;
    background-color: #fff;
    display: inline-block;
}

.section-three div h2 {
    width: 100%;
    text-decoration: none;
    margin: 3% 0;
}

.section-three div p {
    margin: 0;
}

footer {
    padding: 1px;
    text-align: center;
    background-color: red;
    color: #fff;
}